/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #548776;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;
  --black-color: #000000;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #C7D1CC;
  --body-color: #1D2521;
  --container-color: #27302C;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.4;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 1200px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav{
  max-width: 1150px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link,  .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}
.logo img{
  width: 200px;
  height: 80px;
  
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}
.nav-icons a {
  margin-left: 5px;
  color: white;
  background-color: #548776;
  padding: 10px;
  border-radius: 50%;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: #548776;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
  margin-top: 5rem;
  background: #e6e8dd;
  width: 90%;
  max-width: 1200px;
  border-radius: 10px;
  padding: 30px;   
    
}

.home__title{
  font-size: 48px;
  color: var(--black-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}
.input-container {
  position: relative;
  width: 350px;
  margin: 10px 0;
}

#location-input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

#location-input:focus {
  border-color: #548776;
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #aaa;
  pointer-events: none;
  transition: color 0.3s;
}

#location-input:focus + .icon {
  color: #4CAF50;
}
.delivery-options{
  display: flex;
  color: #548776 ;
  gap: 0.5rem;
}
.btn {
  --color: #548776;
  --color2: rgb(10, 25, 30);
  padding: 0.5em 2.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
  border-radius: 30em;
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }


.home__img{
  width: 300px;
  justify-self: center;
  height: 550px;
}


/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description, .testimonial__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
  mix-blend-mode: multiply;
}

.about_btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #548776;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
.about_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
.about_btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
.about_btn:hover span {
  padding-right: 15px;
 }
 
.about_btn:hover span:after {
  opacity: 1;
  right: 0;
 }

.upper-right-image {
  position: absolute;
  top: 1px; 
  right: 40px; 
  width: 200px; 
}

.bottom-right-image {
  position: absolute;
  bottom: 1px; 
  right: 40px; 
  width: 150px; 
  mix-blend-mode: multiply;
}

/* Ensure the container allows positioning of images */
.about__container {
  position: relative;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
}

.services__content{
  text-align: center;
}

.services__img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}
.service_icon {
  position: absolute;
  width: 150px; 
  left: 5rem;
  margin-top: 9rem;
}

/*========== Special Dishes ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name, .menu__price{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail, .menu__price{
  font-size: var(--small-font-size);
}

.menu__detail{
  margin-bottom: var(--mb-1);
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
  background-color: #548776;
  color: white;
}
.menu-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* Add margin to position the button below the menu items */
}
.menu-btn {
  color: #548776;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.menu-btn::before {
  margin-left: auto;
}

.menu-btn::after, button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #808b53;
  display: block;
  transition: 0.5s;
}

.menu-btn:hover::after, .menu-btn:hover::before {
  width: 100%;
}















/*========== Menu ==========*/

.fullmenu-section {
  width: 80%;
  max-width: 1200px;
  text-align: center;
  margin-top: 2rem;
}

.fullmenu-section h1 {
  font-size: 40px;
 
  color: #000000;
}

.fullmenu-section p {
  color: #666;
  margin-bottom: 2px;
}

.fullmenu-filter {
  margin-bottom: 20px;
}

.fullmenu-filter button {
  background-color: #e0e7e9;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.fullmenu-filter button:hover {
  background-color: #548776;
}

.fullmenu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.fullmenu-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: left;
  position: relative;
}

.fullmenu-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.fullmenu-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fullmenu-info h2 {
  font-size: 1em;
  margin-bottom: 10px;
  color: #000000;
}

.fullmenu-info p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.fullmenu-info button {
  background-color: #548776;
  color: white;
  border: none;
  
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.fullmenu-info button:hover {
  background-color: #808b53;
}



.rating {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ffd700;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.explore_btn{
  width: 200px;
  
}

/*========== Testimonial ==========*/

.testimonial{
  width: 80%;
  max-width: 1200px;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
}
.customer-ratings{
  color: rgb(232, 232, 47);
  font-size: large;
  margin-bottom: -5px;
}
.customer-name{
  color: #000000;
  margin-bottom: 5px;
}

.testimonial_btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  border: none;
  background-color: white;
}

.testimonial_btns i {
  color: white;
  background-color: #548776;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.testimonial_btns i:hover {
  background-color: white;
  color: #548776;
}

.testimonial_btns .fa-arrow-left {
  margin-right: 5px;
}

.testimonial_btns .fa-arrow-right {
  margin-left: 5px;
}




/*========== CONTACT ==========*/


/* Section Styles */
.contact {
  width: 80%;
  max-width: 1200px;
  margin: 5rem auto 1rem;
  background-color: #d0f0c0; /* Light green background */
  padding: 20px;
  border-radius: 8px;
}

/* Form Container Styles */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Form Left Styles */
.form-left {
  width: 60%;
  background-color: #f0fff0; /* Slightly lighter green */
  padding: 20px;
  border-radius: 8px;
}

/* Form Right Styles */
.form-right {
  width: 37%;
  background-color: #e0ffe0; /* Slightly darker light green */
  padding: 20px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Headline Styles */
.headline-1 {
  font-size: 24px;
  font-weight: bold;
  color: #000000; /* Black text color */
  margin-bottom: 10px;
}

/* Form Text Styles */
.form-text {
  font-size: 16px;
  color: #000000; /* Black text color */
  margin-bottom: 20px;
}

/* Link Styles */
.link,
.contact-number {
  color: #000000; /* Black text color */
  text-decoration: none;
}

.link:hover,
.contact-number:hover {
  text-decoration: underline;
}

/* Input Wrapper Styles */
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input Field Styles */
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
}

/* Icon Wrapper Styles */
.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-wrapper ion-icon {
  position: absolute;
  left: 10px;
  color: #000000; /* Black icon color */
}

.icon-wrapper select,
.icon-wrapper input {
  padding-left: 30px; /* Space for the icon */
}

/* Textarea Styles */
textarea.input-field {
  height: 100px;
  resize: none;
}



/* Contact Info Styles */
.contact-label {
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* Black text color */
  margin-top: 20px;
}

.body-4 {
  font-size: 16px;
  color: #000000; /* Black text color */
}

.separator {
  height: 1px;
  background-color: #cccccc;
  margin: 20px 0;
}


/*========== SUBSCRIPTION ==========*/


.subscription {
  width: 80%;
  max-width: 1200px;
  background: url('./assets/img/subscription.webp') center/cover no-repeat;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding: 40px;
  text-align: center;
  justify-content: center;
  margin: 7rem auto 1rem;
}

.subscription::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(4px);
  z-index: 0;
}

.subscription-content {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.subscription-heading {
  font-size: 38px;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

/* Input Styles */
.subscription-input {
  padding: 15px 20px;
  border: 2px solid #ddd;
  margin-bottom: 5px;
  border-radius: 50px; /* Rounded left corners */
  width: 40%; /* Adjust width as needed */
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button Styles */
.subscription-button {
  padding: 14px 30px;
  background-color: #218c74;
  color: #ffffff;
  border: 2px solid #218c74;
  border-radius: 50px;
  
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  box-sizing: border-box;
}

.subscription-button:hover {
  background-color: #1e7e66;
  border-color: #1e7e66;
}




/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 1rem;
}


.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 1.75rem var(--mb-3);
  
}

.footer__social{
  font-size: 1.5rem;
  color: white;
  padding: 5px;
  border-radius: 100%;
  background-color: #548776;
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: black;
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
/* Media Queries for Responsive Design */

@media only screen and (max-width: 568px) {

  /* Home Section */

  .home__container {
    height: auto;  
    margin-top: 0;  
    padding: 20px;   
  }

  .home__title {
    font-size: 32px;  
  }

  .home__subtitle {
    font-size: 18px;  /* Adjust subtitle size for smaller screens */
  }

  .input-container {
    width: 100%;  
  }

  #location-input {
    padding: 10px 20px;  
  }

  .home__img {
    width: 100%;  
    height: auto;  
    margin-top: 2rem;  
  }

  .delivery-options {
    flex-direction: column;  
    gap: 1rem;  
    justify-content: center;
    align-items: center;
  }

  .btn {
    font-size: 16px;  /* Adjust button font size for mobile */
  }
  .upper-right-image {
    
    top: -40px; 
    right: 5px; 
    width: 180px; 
  }
  .bottom-right-image {
    
    bottom: -22px; 
    right: 16px; 
    width: 120px; 
    
  }
  .service_icon {
    
    width: 125px; 
    left: 0.5rem;
    margin-top: 9rem;
  }
  .fullmenu-section {
    width: 100%;  
    text-align: center;  
    margin: 0 auto;  
  }

  .fullmenu-section h1 {
    font-size: 32px;  
  }

  .fullmenu-section p {
    font-size: 16px;  
  }

  .fullmenu-filter {
    flex-wrap: wrap;   
    justify-content: center;  
    gap: 10px;  
  }

  .fullmenu-filter button {
    font-size: 14px;  
  }

  .fullmenu-items {
    flex-direction: column;  
    justify-content: center;  
    gap: 15px;  
  }

  .fullmenu-item {
    width: 100%;  
  }

  .explore_btn {
    width: 100%;  
  }

  .testimonial {
    margin: 0 auto;  
  }

  .testimonial__container {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  .testimonial__img {
    margin: 0 auto 20px auto;  
  }

  .testimonial__data {
    text-align: center;  
  }

  .customer-ratings,
  .customer-name,
  .customer-address,
  .testimonial_btns {
    margin: 5px auto;  
  }
  .contact {
    width: 100%;  
    margin: 0 auto;  
  }

  .form {
    flex-direction: column;  
  }

  .form-left,
  .form-right {
    width: 100%;
     
  }

  .form-left {
    margin-bottom: 20px;  
  }

  .form-right {
    background-image: none;  
  }

  .headline-1 {
    text-align: center;  
  }

  .contact-label {
    margin-bottom: 5px;  
  }
  .contact-label,
  .contact-number,
  .body-4 {
    text-align: center;  
  }
  .subscription-heading {
    font-size: 28px;  /* Adjust heading size for smaller screens */
  }

  .subscription-input,
  .subscription-button {
    font-size: 14px;  /* Adjust font size for smaller screens */
  }
  .subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .footer__container {
    grid-template-columns: 1fr;  /* Make content stack vertically */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
  }

  .footer__content {
    text-align: center;  /* Center content within each column */
  }

}




@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .testimonial__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    
  }

  .about__data, .about__initial, .testimonial__data, .testimonial__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img, .customer__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container, .testimonial__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}